<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <div class="app">
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <div class="messsage-container">
        <h3>Name:</h3>
        <span><%= messageDetails.name %></span>
        <hr>
        <h3>Message:</h3>
        <span><%= messageDetails.message %></span>
        <hr>
        <h3>Timestamp:</h3>
        <span><%= messageDetails.formattedDateTime %></span>
      </div>
  
      <a href="/">
        <button>< Back</button>
      </a>
      </div>
    </main>
</body>
</html>