<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <div class="app">
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <div class="message-board">
        <% messages.forEach((message, index) => { %>
          <div class="message-card">
            <div class="card-user">
              <strong><%= message.user %></strong>
              <span><%= message.text %></span>
            </div>
            <div class="card-details">
              <%= message.added %>
              <a href="/details/<%= index %>">Details</a>
            </div>
          </div>
        <% }); %>
      </div>
      
      <a href="/new">
        <button>New Message</button>
      </a>
      </div>
    </main>
</body>
</html>